:root {
    --white: #f9faff;
    --platinum: #e3e4e8;
    --windsurfing: #32779b;
    --marina: #5a91c7;
    --gray: #9a9a9a;
    --onyx: #3c3d44;
    --charcoal: #343c47;
    --corners: 24px 0;
    --base-font-size: 1rem;
}
html {
    box-sizing: border-box;
}
*,
*::before, 
*::after {
    box-sizing: inherit;
}
body {
    font-size: var(--base-font-size);
    font-family: "Inter", sans-serif;
    background-color: var(--platinum);
    color: var(--onyx);
}
.wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}
h1 {
    margin: 0;
    font-size: calc(var(--base-font-size) * 2.9);
}
h2 {
    margin: 0;
    font-size: var(--base-font-size);
    text-transform: uppercase;
    color: var(--windsurfing);
    letter-spacing: 0.25em;
}
h3 {
    margin: 0;
}
p {
    line-height: 1.5;
}
a {
    color: var(--windsurfing);
}
a:hover {
    color: var(--marina);
}
img {
    max-width: 100%;
    border-radius: var(--corners);
}
/* svg social icon bar */
.icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
}
ul svg {
    width: 36px;
    height: 36px;
}
.social {
    fill: var(--windsurfing);
}
.social:hover {
    fill: var(--marina);
}
/* about me layout styling*/
.main-article {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
}
.main-article img {
    margin: 0 auto;
    object-fit: cover;
    object-position: top;
    height: 175px;
    width: 300px;
    overflow: hidden;
}
/* footer styling */
footer {
    text-align: center;
}
.footer-text {
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.footer-text-box ul {
    font-size: calc(var(--base-font-size) * 0.85);
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-text-box li {
    line-height: 2;
}
.h2-footer {
    margin: 2rem 0;
}
footer .icons .social {
    fill: var(--onyx);
}
footer .icons .social:hover {
    fill: var(--marina);
}

@media(min-width: 750px) {
    :root {
        --base-font-size: 1.124rem;
    }
    h1 {
        margin-left: -3px;
    }
    .wrapper {
        padding: 5rem;
    }
    .main-article {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: left;
    }
    .main-article img {
        max-height: 400px;
        margin: 0 0 0 auto;
        object-fit: none;
        object-position: none;
        height: auto;
        width: auto;
        overflow: auto;
    }
    .icons {
        justify-content: flex-start;
    }
    footer {
        text-align: left;
    }
    .footer-text {
        grid-template-columns: repeat(3, 1fr);
    }
}